doctype html
html
  head
    title NodeAuth
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
       nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
            a.navbar-brand(href='#') Web Agency              
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-
            expanded='false', aria-controls='navbar')
                span.navbar-toggler-icon 

                //- a.navbar-brand(href='#') Web Agency
              #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li(class=(title === 'Members' ? 'active' : ''))
                      a(class='nav-link', href='/') Home
                  li(class=(title === 'About' ? 'active' : ''))
                      a(class='nav-link',href='/about') About Us
                  li(class= (title === 'Register' ? 'active' : ''))
                      a(class='nav-link',href='users/register') Register
                  li(class= (title === 'Login' ? 'active' : ''))
                      a(class='nav-link',href='users/login') Login
              ul.nav.navbar-nav.navbar-right
                li(class= (title === 'Logout' ? 'active' : ''))
                    a(class='nav-link',href='users/logout') Logout
    .container    
      block content
    footer
        p &copy; 2018 All Rights Reserved

    script(src="/javascripts/bootstrap.js")

    
